<h2 mat-dialog-title>About</h2>
<mat-dialog-content class="mat-typography">
  <h3>What is Open Planning Poker?</h3>
  <p>Open Planning Poker is a free and open-source solution that implements one of the ways how to plan and estimate
    effort. The idea is simple, you have to import or write all the user stories/features/tasks and during the 'poker'
    sessions you have to discuss about the scope and effort of each item as a team. The next step is voting where you
    have to assign a complexity value for the discussed story. When the voting is finished, an average value is
    calculated and then you can argue if the average value is acceptable or to vote again.</p>

  <h3>Features</h3>
  <p>Open Planning Poker provides you with an easy option to:

  <ol>
    <li>Create a poker room.</li>
    <li>Add stories/features/tasks</li>
    <li>Voting mechanism</li>
    <li>Basic voting results</li>
  </ol>

  <h3>How to play?</h3>
  <p>
    When the page opens, you will be assigned a random username that can be changed.
  </p>
  <p>
    You can create a game, or join the existing one using a URL.
  </p>
  <p>
    Voting is possible only when a ticket is created.
  </p>

  <h3>Privacy</h3>
  <p>Open Planning Poker is an open source project so you can check the source code. Users are deleted 24h after creation. Games, ticktes and voting related data is stored longer, because it can be useful for statistics, and new features.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
