<div class="game-wrapper">
  <div class="game">
    <div class="center">
      <app-options
        [inGame]="!game"
        (onCreateGameClick)="handleCreateGame()"
        (onJoinGameClick)="handleJoinGame()"
        (onLeaveGameClick)="handleLeaveGame()">
      </app-options>
    </div>
    <div class="game-details" *ngIf="game">
      <div class="center">
        <app-game-details [game]="game" (onLeaveGameClick)="handleLeaveGame()"></app-game-details>
      </div>

      <div class="center">
        <div class="width-80p">
          <app-voting [players]="players">
          </app-voting>
        </div>
      </div>

      <div class="center">
        <div class="width-80p">
          <app-voting-history></app-voting-history>
        </div>
      </div>
    </div>
  </div>
</div>
