<section class="voting-wrapper" aria-label="Voting area">
  <div class="voting">
    <div class="voting-item-details">
      <h2 class="center">{{ticket?.name}}</h2>
      <p class="center">Average voting value:
        <strong class="voting-item-value">{{ ticket?.averageVotingValue }}</strong>
      </p>
    </div>
  </div>

  <div class="voting-players-wrapper">
    <div class="voting-players-wrapper center">
      <app-players
        [players]="players"
        [votes]="votes"
        [votesRevealed]="votesRevealed"
        (onRevealCards)="onRevealVotes.emit()"
        (onVoteAgain)="onVoteAgain.emit()"
        (onCreateNewTicket)="handleOnCreateNewTicket()">
      </app-players>
    </div>
  </div>

  <div class="voting-options-wrapper">
    <div class="voting-item-options">
      <button *ngFor="let voteOption of voteOptions"
        mat-raised-button
        color="primary"
        class="card-button"
        [disabled]="ticket?.id == null"
        [ngClass]="{'selected': selectedOption === voteOption}"
        (click)="selectOption(voteOption)">
        {{ voteOption }}
      </button>
    </div>
  </div>
</section>
