<div class="players-wrapper">
  <div class="players">
    <div class="table-container" *ngIf="players?.items">
      <!-- Top Players -->
      <div class="top-players">
        <div class="player" *ngFor="let player of topPlayers">
          <span class="player-item-name">{{ player.name }}</span>
          <div class="player-item-vote-wrapper">
            <span class="player-item-vote" [class.vote-hidden]="!votesRevealed && getVoteData(player.id)">{{ getVoteDisplay(player.id) }}</span>
          </div>
        </div>
      </div>

      <!-- Left Players -->
      <div class="left-players">
        <div class="player" *ngFor="let player of leftPlayers">
          <span class="player-item-name">{{ player.name }}</span>
          <div class="player-item-vote-wrapper">
            <span class="player-item-vote" [class.vote-hidden]="!votesRevealed && getVoteData(player.id)">{{ getVoteDisplay(player.id) }}</span>
          </div>
        </div>
      </div>

      <!-- Table (Rectangle) -->
      <div class="table-players">
        <button
          mat-flat-button
          color="accent"
          *ngIf="!votesRevealed && hasAnyVotes"
          (click)="onRevealCards.emit()">
          Reveal Votes
        </button>
        <button
          mat-flat-button
          *ngIf="votesRevealed"
          (click)="onVoteAgain.emit()">
          Vote Again
        </button>
        <button mat-flat-button (click)="onCreateNewTicket.emit()">New Ticket</button>
      </div>

      <!-- Right Players -->
      <div class="right-players">
        <div class="player" *ngFor="let player of rightPlayers">
          <div class="player-item-vote-wrapper">
            <span class="player-item-vote" [class.vote-hidden]="!votesRevealed && getVoteData(player.id)">{{ getVoteDisplay(player.id) }}</span>
          </div>
          <span class="player-item-name">{{ player.name }}</span>
        </div>
      </div>

      <!-- Bottom Players -->
      <div class="bottom-players">
        <div class="player" *ngFor="let player of bottomPlayers">
          <div class="player-item-vote-wrapper">
            <span class="player-item-vote" [class.vote-hidden]="!votesRevealed && getVoteData(player.id)">{{ getVoteDisplay(player.id) }}</span>
          </div>
          <span class="player-item-name">{{ player.name }}</span>
        </div>
      </div>

      <!-- Responsive representation of players -->
      <div class="players-table-wrapper">
        <div class="center">
          <button
            mat-flat-button
            color="accent"
            *ngIf="!votesRevealed && hasAnyVotes"
            (click)="onRevealCards.emit()">
            Reveal Votes
          </button>
          <button
            mat-flat-button
            *ngIf="votesRevealed"
            (click)="onVoteAgain.emit()">
            Vote Again
          </button>
          <button mat-flat-button (click)="onCreateNewTicket.emit()">New Ticket</button>
        </div>
        <div class="players-table" *ngIf="players?.items">
          <div class="player-row" *ngFor="let player of players?.items">
            <div class="player-cell">{{ player.name }}</div>
            <div class="player-cell">{{ getVoteDisplay(player.id) }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
