<div class="header-wrapper">
  <div class="header">
    <mat-toolbar>
      <span>Open Planning Poker</span>
      <span class="header-spacer"></span>
      <a
        mat-icon-button
        href="{{githubRepoUrl}}"
        target="_blank"
        aria-label="Give us a star on GitHub!"
        matTooltip="Give us a star on GitHub!">
        <mat-icon class="header-icon"><i class="fa-brands fa-github"></i></mat-icon>
      </a>
      <a
        mat-icon-button
        href="{{websiteUrl}}"
        target="_blank"
        aria-label="Visit project page!"
        matTooltip="Visit project page!">
        <mat-icon class="header-icon"><i class="fa-solid fa-globe"></i></mat-icon>
      </a>
      <button
        mat-icon-button
        (click)="openInfoDialog()"
        aria-label="About the project!"
        matTooltip="About the project!">
        <mat-icon class="header-icon"><i class="fa-solid fa-circle-info"></i></mat-icon>
      </button>
    </mat-toolbar>
  </div>
</div>

