<div class="game-details-wrapper" *ngIf="game">
  <div class="game-details">
      <h1>
        {{ game.name }}
        <button
          mat-icon-button
          (click)="copyToClipboard(game.id)"
          aria-label="Copy GameId to clipboard!"
          matTooltip="Copy GameId to clipboard!">
          <mat-icon>content_copy</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          matTooltip="Edit Game"
          disabled>
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="{{ game.description }}"
          *ngIf="game?.description">
          <mat-icon>info</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Leave Game"
          (click)="onLeaveGameClick.emit()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </h1>
  </div>
</div>
