<div class="voting-wrapper">
  <div class="voting">
    <div class="voting-item-details">
      <h1 class="center">{{ticket?.name}}</h1>
    </div>
  </div>

  <div class="voting-players-wrapper">
    <div class="voting-players-wrapper center">
      <app-players
        [players]="players"
        [votes]="votes"
        (onRevealCards)="onRevealCards.emit()"
        (onVoteAgain)="onVoteAgain.emit()"
        (onCreateNewTicket)="handleOnCreateNewTicket()">
      </app-players>
    </div>
  </div>

  <div class="voting-options-wrapper">
    <div class="voting-item-options">
      <button *ngFor="let voteOption of voteOptions"
        mat-raised-button
        color="primary"
        class="card-button"
        [disabled]="ticket?.id == null"
        [ngClass]="{'selected': selectedOption === voteOption}"
        (click)="selectOption(voteOption)">
        {{ voteOption }}
      </button>
    </div>
  </div>
</div>
