.voting-item-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  .card-button {
    height: 85px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:hover, &.selected {
      transform: translateY(-20px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }
}
