<div class="voting-wrapper">
  <div class="voting center">
    <div class="voting-players-wrapper">
      <app-players [players]="players">
      </app-players>
    </div>
    <div class="voting">
      <div class="voting-item-details">
        <h3 class="center">Item Name: Lorem Ipsum</h3>
        <span>
          <p class="center"><strong>Item Details</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac lectus nulla. Vivamus bibendum,
            ante quis malesuada rutrum, felis massa dictum purus, gravida volutpat nisi elit vel quam. Etiam nec
            consectetur nibh. Mauris venenatis libero non sapien sollicitudin tristique. Nulla maximus nibh eget quam
            sagittis, a ultricies lorem vehicula. Phasellus condimentum lorem vitae velit elementum sagittis. Curabitur
            massa neque, commodo non justo et, molestie ornare lacus. Suspendisse urna mauris, imperdiet ut tincidunt
            ut, scelerisque eu diam. Phasellus ex nunc, mollis sit amet eros gravida, hendrerit varius nibh. Donec vel
            nisi eros. Proin aliquam velit non malesuada consequat. Nulla aliquet vehicula nunc et placerat. Morbi sit
            amet accumsan sem, et lacinia diam. Etiam blandit tristique pretium. Curabitur dignissim suscipit erat. Duis
            non feugiat enim.</p>
        </span>
      </div>
      <div class="voting-item-options center">
        <button mat-raised-button color="primary">Vote</button>
        <button mat-raised-button color="warn">Skip</button>
      </div>
    </div>
  </div>
</div>
